@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  color: var(--ink);
  line-height: 1.6;
  overflow-x: hidden;
  background: var(--white);
}

ion-app,
ion-content {
  --background: var(--white);
  background: var(--white);
  color: var(--ink);
}

/* ─────────────────────────────────────
   SCROLLBAR PERSONALIZADO
───────────────────────────────────── */
* {
  scrollbar-color: var(--sky) transparent;
  scrollbar-width: thin;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(app){
  animation-duration: 0.7s;
  animation-timing-function: ease;
}

::view-transition-old(app){
    animation: slide-out 0.7s ease forwards;
}

::view-transition-new(app){
    animation: slide-in 0.7s ease forwards;
}

.app-router {
  view-transition-name: app;
}

@keyframes slide-out {
  to {
    translate: -100vw;
  }
}

@keyframes slide-in {
  from {
    translate: 100vw;
  }
}